[Unit]
Description=Scan Bluetooth to save RS-BTWATTCH2A sensor data every five minutes
After=local-fs.target bluetooth.target

[Timer]
OnCalendar=*-*-* *:03/5:00

[Install]
WantedBy=timers.target
